/* v2.0.0 | (c) Paul Nieuwelaar Magnetism Apps Limited | https://github.com/PaulNieuwelaar/notifyjs */

.notify-hide {
    display: none !important;
}

.notify-button {
    padding: 2px 8px;
    /*padding: 1px 8px;*/
    margin-left: 10px;
    border: 1px solid;
    font-family: Segoe UI;
    font-size: 13px !important;
}

    .notify-button:hover {
        text-decoration: none !important;
    }

.notify-link {
    font-size: 13px !important;
    margin-left: 10px;
}

.notify-notification {
    padding: 5px !important;
    /*padding: 3px !important;*/
}

    .notify-notification table {
        height: 22px;
    }

    .notify-notification td {
        font-size: 13px !important;
    }

    .notify-notification a {
        cursor: pointer;
        font-weight: 600 !important;
        white-space: nowrap;
    }

        .notify-notification a:hover {
            text-decoration: underline;
        }

.notify {
    overflow: auto;
}

.notify-image {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin: 1px;
}

.notify-text {
    padding-left: 5px;
    padding-top: 2px;
}

.notify-image-find {
    background: transparent url(../img/notify.png) no-repeat scroll -120px 0px;
}

.notify-image-ques {
    background: transparent url(../img/notify.png) no-repeat scroll -100px 0px;
}

.notify-image-tick {
    background: transparent url(../img/notify.png) no-repeat scroll -80px 0px;
}

.notify-image-load {
    background: transparent url(../img/notify_load.gif) no-repeat scroll 0px 0px;
}

.notify-image-info {
    background: transparent url(../img/notify.png) no-repeat scroll -60px 0px;
}

.notify-image-warn {
    background: transparent url(../img/notify.png) no-repeat scroll -40px 0px;
}

.notify-image-crit {
    background: transparent url(../img/notify.png) no-repeat scroll -20px 0px;
}

.notify-close {
    float: right;
    cursor: pointer;
    width: 14px;
    height: 24px;
    margin-top: -11px;
    font-size: 24px;
    margin-right: 3px;
}

    .notify-close:hover {
        text-decoration: none !important;
    }
